@use '../../../../styles/variables.scss' as var;

.media {
  position: relative;

  picture {
    width: 100%;
    img {
      width: 100%;
      border-radius: 8px;
    }
  }

  .bookmark {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 32px;
    border-radius: 25px;
    background: var.$dark-blue;
    mix-blend-mode: normal;
    opacity: 0.5;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .15s ease-in;

    img {
      width: 14px;

    }

    &:hover {
      background-color: var.$pure-white;
      opacity: 1;

      img {
        filter: brightness(0) saturate(100%);
      }
    }
  }

  p {
    display: flex;

    span {
      &.bullet {
        display: list-item;
        list-style-type: disc;
        list-style-position: inside;
        margin-left: 8px;
        width: 12px;
      }

      img {
        margin-right: 4px;
      }
    }
  }

  .title {
    @include var.heading-x-small;
  }

  &.trending {
    p {
      position: absolute;
      bottom: 48px;
      left: 24px;

      @media screen and (max-width: var.$tablet-min-width) {
        bottom: 32px;
        left: 16px;
      }
    }

    .title {
      position: absolute;
      @include var.heading-small;
      bottom: 24px;
      left: 24px;

      @media screen and (max-width: var.$tablet-min-width) {
        @include var.body-medium;
        font-weight: 500;
        bottom: 16px;
        left: 16px;
      }
    }
  }


}
