<div class="media" [ngClass]="{'trending': trendingCard}">

  <picture *ngIf="!trendingCard">
    <source [srcset]="data.thumbnail.regular.large" [media]="'(min-width: ' + breakpoints.desktop + 'px )'">
    <source [srcset]="data.thumbnail.regular.medium" [media]="'(min-width: ' + breakpoints.tablet + 'px )'">
    <img [src]="data.thumbnail.regular.small" [alt]="data.title">
  </picture>

  <picture *ngIf="trendingCard">
    <source [srcset]="data.thumbnail.trending?.large" [media]="'(min-width: ' + breakpoints.tablet + 'px )'">
    <img [src]="data.thumbnail.trending?.small" [alt]="data.title">
  </picture>

  <div class="bookmark" (click)="toggleBookmark()">
    <img *ngIf="!data.isBookmarked" src="./assets/icon-bookmark-empty.svg" alt="Bookmark" title="Add Bookmark">
    <img *ngIf="data.isBookmarked" src="./assets/icon-bookmark-full.svg" alt="Bookmark" title="Remove Bookmark">
  </div>

  <p [ngClass]="{'small': !trendingCard}">
    <span class="year">{{data.year}}</span>
    <span class="bullet"></span>
    <span class="category">
      <img class="icon" *ngIf="data.category === 'Movie'" src="./assets/icon-category-movie.svg">
      <img class="icon" *ngIf="data.category === 'TV Series'" src="./assets/icon-category-tv.svg">
      {{data.category}}
    </span>
    <span class="bullet"></span>
    <span class="rating">{{data.rating}}</span>
  </p>

  <span class="title">{{data.title}}</span>
</div>
