@use '../../../styles/variables.scss' as var;


.media-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  row-gap: 15px;
  column-gap: 15px;

  @media screen and (min-width: var.$tablet-min-width) {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
  }

  @media screen and (min-width: var.$desktop-min-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
  }
}

.trending-media-grid-container {
  display: grid;
  column-gap: 16px;
  grid-template-columns: repeat(var(--trending-count), 240px);

  @media screen and (min-width: var.$tablet-min-width) {
    grid-template-columns: repeat(var(--trending-count), 470px);
    column-gap: 40px;
  }

  overflow-x: scroll;
  scroll-snap-type: x proximity;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.overlay {
  height: 100%;
  width: 75px;
  position: absolute;
  // background-color: var.$semi-dark-blue;
  background-color: transparent;
  opacity: .0;
  transition: opacity .15s ease-in;
  z-index: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;

  &.left {

  }

  &.right {
    right: 0;
    top: 0;
  }

  mat-icon {
    color: var.$pure-white;
    font-size: 5rem;
    width: 5rem;
    height: 5rem;
  }
}


.wrapper {
  position: relative;
  margin-bottom: 3.4rem;

  &:hover {
    .overlay {
      opacity: 1;
      z-index: 10;
    }
  }
}

@media screen and (max-width: var.$tablet-primary-width) {
  .overlay {
    display: none;
  }
}
