<div class="group">
  <label>Heading Large</label>
  <h1>Lorem, ipsum dolor sit amet</h1>
</div>

<div class="group">
  <label>Heading Medium</label>
  <h2>Lorem, ipsum dolor sit amet</h2>
</div>

<div class="group">
  <label>Heading Small</label>
  <h3>Lorem, ipsum dolor sit amet</h3>
</div>

<div class="group">
  <label>Heading Extra Small</label>
  <h4>Lorem, ipsum dolor sit amet</h4>
</div>


<div class="group">
  <label>Body Medium</label>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium exercitationem eius voluptatibus sequi molestiae delectus et deserunt tempore perferendis deleniti neque, nostrum error maxime omnis autem architecto nisi tenetur odit.</p>
</div>

<div class="group">
  <label>Body Small</label>
  <p class="small">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium exercitationem eius voluptatibus sequi molestiae delectus et deserunt tempore perferendis deleniti neque, nostrum error maxime omnis autem architecto nisi tenetur odit.</p>
</div>

<form [formGroup]="dummyForm">
  <div class="group">
    <label app-label>Standard Text Input</label>
    <app-form-field class="">
      <input app-input appInput type="text" formControlName="basic" placeholder="Email Address">
    </app-form-field>

  </div>

  <div class="group">
    <label app-label>Standard Text Input</label>
    <app-form-field [control]="dummyForm.get('error')">
      <input app-input type="text" formControlName="error" placeholder="Email Address">
    </app-form-field>

  </div>

  <div class="group">
    <label>Search</label>
    <app-search-field></app-search-field>
  </div>

</form>

<div class="group">
  <label>Button</label>
  <button>Log into your account</button>
</div>

<div class="trending-media-grid-container">
  <app-media-container [media]="trending" [trendingContainer]="true" class="trending-media-grid-container">
  </app-media-container>
</div>

<app-media-container [media]="movies" ></app-media-container>


