<div class="content-wrapper">
  <nav>
    <a href="/" class="logo">
      <img src="/assets/logo.svg" alt="Logo">
    </a>

    <a href="/">
      <img src="/assets/icon-nav-home.svg" alt="Home">
    </a>

    <a href="/movies">
      <img src="/assets/icon-nav-movies.svg" alt="Movies">
    </a>

    <a href="/tv-series">
      <img src="/assets/icon-nav-tv-series.svg" alt="TV Series">
    </a>

    <a href="/bookmark">
      <img src="/assets/icon-nav-bookmark.svg" alt="Bookmarked">
    </a>

    <a href="/" class="avatar">
      <img src="/assets/image-avatar.png" alt="User">
    </a>

  </nav>

  <main>
    <ng-content></ng-content>
  </main>

</div>
