<div class="content-wrapper">
  <nav>
    <a routerLink="/" class="logo" routerLinkActive="active">
      <img src="./assets/logo.svg" alt="Logo">
    </a>

    <a routerLink="/home" routerLinkActive="active">
      <img src="./assets/icon-nav-home.svg" alt="Home">
    </a>

    <a routerLink="/movies" routerLinkActive="active">
      <img src="./assets/icon-nav-movies.svg" alt="Movies">
    </a>

    <a routerLink="/tv-series" routerLinkActive="active">
      <img src="./assets/icon-nav-tv-series.svg" alt="TV Series">
    </a>

    <a routerLink="/bookmarked" routerLinkActive="active">
      <img src="./assets/icon-nav-bookmark.svg" alt="Bookmarked">
    </a>

    <a routerLink="/" class="avatar" routerLinkActive="active">
      <img src="./assets/image-avatar.png" alt="User">
    </a>

  </nav>

  <main>
    <ng-content></ng-content>
  </main>

</div>
