@use '../../../styles/variables.scss' as var;

$nav-width: 96px;

.content-wrapper {
  position: relative;
  width: 100%;
  display: flex;

  nav {
    width: $nav-width;
    // subtract the padding on top and bottom of the body
    height: calc(100% - 64px);
    background-color: var.$semi-dark-blue;
    position: fixed;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      margin-bottom: 40px;

      &.active:not(.logo):not(.avatar),
      &:not(.logo):not(.avatar):hover {
        img {
          filter: brightness(100);
        }
      }
    }

    .logo {
      margin-top: 35px;
      margin-bottom: 74px;
    }

    .avatar {
      margin-top: auto;

      img {
        width: 40px;
      }
    }
  }

  main {
    width: calc(100% - $nav-width - 36px);
    margin-left: calc($nav-width + 36px);
  }
}
