<app-search-field [search]="(searchString$ | async)!" (searchChanged)="updateSearchString($event)">
</app-search-field>

<section class="trending" *ngIf="!(searchString$ | async)">
  <h1>Trending</h1>
  <app-media-container [trendingContainer]="true" [media]="trending$"></app-media-container>
</section>

<section class="recommended">
  <h1 *ngIf="!(searchString$ | async)">Recommended for you</h1>
  <h1 *ngIf="(searchString$ | async)">Found {{(filteredAll | async)?.length}} results for '{{searchString$ | async}}'</h1>
  <app-media-container [media]="filteredAll"></app-media-container>
</section>
